footer.footer-cont
	.wrapper
		.footer__top
			.footer__top-text Оформите электронную карту БИОЦЕНТР до 1 марта 2020 и получите первую расшифровку анализов со скидкой 20%
			.footer__top-btn
				a(href="").btn.btn--color Получить электронную карту

		.footer__bot
			a(href="").footer__bot-link Узнайте больше о "Биоцентр"
			.dev
				img(src="img/dev.svg", alt="")
	


