//- .notificator
//- 	.wrapper
//- 		.notificator__text Товар добавлен в 
//- 			a(href="#") список 
//- 			| - 6 товаров
include ../inc/mobile-menu.pug
header.head-cont
	.wrapper
		.head
			.head-logo
				a(href="")
					img(src="img/logo-biocenter.svg", alt="")
				a(href="")
					img(src="img/logo-invitro.svg", alt="")
			.head-menu
				ul.menu__list
					li.menu__item.active
						a(href="").menu__item-link Конкурсы
					li.menu__item
						a(href="").menu__item-link Профили анализов
					li.menu__item
						a(href="").menu__item-link Дополнительные услуги
				
						
				

	